<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="./script.js"></script>

<h1>Quote: <%= quote %></h1>

<form method="post" id="changeQuote">
    <input type="text" placeholder="Set quote of the day" name="quote" id="value-name">
    <input type="submit" value="Save">
</form>